<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-voting</title>
    <link rel="stylesheet" href="{% static 'assets/layoutstyles.css' %}" type="text/css">
</head>
<body>
      <div id="wrapper">

         <div id="header">

            <h1>Evoting System</h1>
         </div>
       
       
       
       
       
       
       
       
         <div id="nav">
<ul>
        <li>
            <a href="{% url 'AdminHome' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'VoteCandidate' %}">Vote For Candidate</a>
        </li>
        
        <li>
            <a href="http://localhost:8000">Logout</a>
        </li>
    </ul>
         </div>
         <div id="content" style="width: 1000px;">

            {% block content %}
    
            {% endblock content %}
            
        </div>
         
         <div id="footer">

            <p>All Copyright@ reserved to Evoting System</p>
         </div>

      </div>
</body>
</html>